/* line 2, ../sass/partials/_base.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 6, ../sass/partials/_base.scss */
html {
  font-size: 62.5%;
}

/* line 10, ../sass/partials/_base.scss */
img {
  width: 100%;
  height: auto;
}

/* line 15, ../sass/partials/_base.scss */
ul, ol {
  padding: 0;
  margin: 0;
}

/* line 20, ../sass/partials/_base.scss */
mark {
  padding: 5px 8.5px;
  border-radius: 5px;
  background-color: #FEF0C8;
}

/* line 26, ../sass/partials/_base.scss */
figure {
  margin: 0;
}

/* line 30, ../sass/partials/_base.scss */
body {
  font-family: "Work Sans", Open Sans, Segoe UI, sans-serif;
  font-size: 1.4rem;
  font-size: 14px;
  word-spacing: -.01em;
  letter-spacing: .01em;
  color: #555555;
  width: 100%;
  font-weight: 400;
  position: relative;
  line-height: 1.65;
  background-color: white;
}
/* line 43, ../sass/partials/_base.scss */
body.scroll_lock {
  overflow: hidden;
}

/* Backgrounds */
/* line 50, ../sass/partials/_base.scss */
.bg__white {
  background-color: white !important;
}

/* line 54, ../sass/partials/_base.scss */
.bg__off_white {
  background-color: #f5f5f5 !important;
}

/* line 58, ../sass/partials/_base.scss */
.bg__primary {
  background-color: #FA4238 !important;
}

/* line 62, ../sass/partials/_base.scss */
.bg__secondary {
  background-color: #F79E25 !important;
}

/* line 66, ../sass/partials/_base.scss */
.bg__secondary_light {
  background-color: #FEF0C8 !important;
}

/* line 70, ../sass/partials/_base.scss */
.bg__black {
  background-color: #211F20 !important;
}

/* line 74, ../sass/partials/_base.scss */
.color__primary {
  color: #FA4238 !important;
}

/* line 78, ../sass/partials/_base.scss */
.color__secondary {
  color: #F79E25 !important;
}

/* line 82, ../sass/partials/_base.scss */
.color__black {
  color: #211F20 !important;
}

/* line 86, ../sass/partials/_base.scss */
.color__grey_light {
  color: #959595 !important;
}

/* line 90, ../sass/partials/_base.scss */
.color__grey {
  color: #E5E5E5 !important;
}

/* line 94, ../sass/partials/_base.scss */
.color__grey_dark {
  color: #757575 !important;
}

/* line 98, ../sass/partials/_base.scss */
.color__white {
  color: #f5f5f5 !important;
}

/* line 102, ../sass/partials/_base.scss */
.color__default {
  color: #555555 !important;
}

/* line 106, ../sass/partials/_base.scss */
.font-sm {
  font-size: 12px !important;
}

/* line 110, ../sass/partials/_base.scss */
.font-default {
  font-size: 14px !important;
}

/* line 114, ../sass/partials/_base.scss */
.font-md {
  font-size: 16px !important;
}

/* line 118, ../sass/partials/_base.scss */
.font-lg {
  font-size: 18px !important;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 118, ../sass/partials/_base.scss */
  .font-lg {
    font-size: 21px !important;
  }
}

/* line 126, ../sass/partials/_base.scss */
.font-bold {
  font-weight: 700;
}

/* line 130, ../sass/partials/_base.scss */
.font-regular {
  font-weight: 400;
}

/* line 134, ../sass/partials/_base.scss */
.text-center {
  text-align: center !important;
}

/* line 138, ../sass/partials/_base.scss */
.text-right {
  text-align: right !important;
}

/* line 142, ../sass/partials/_base.scss */
.text-left {
  text-align: left !important;
}

/* line 146, ../sass/partials/_base.scss */
.text_clipped {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/* line 150, ../sass/partials/_base.scss */
.caps_upper {
  text-transform: uppercase !important;
}

/* line 154, ../sass/partials/_base.scss */
.caps_normal {
  text-transform: none !important;
}

/* line 158, ../sass/partials/_base.scss */
.container {
  width: auto;
  position: relative;
  max-width: 1170px;
}

/* line 164, ../sass/partials/_base.scss */
.content_narrow {
  max-width: 970px;
}

/* line 168, ../sass/partials/_base.scss */
.centered {
  float: none;
  margin: 0 auto;
}

/* line 172, ../sass/partials/_base.scss */
.hidden {
  display: none !important;
}

/* Tablets and phablets */
@media only screen and (max-width: 767px) {
  /* line 177, ../sass/partials/_base.scss */
  .hidden-sm {
    display: none !important;
  }

  /* line 181, ../sass/partials/_base.scss */
  .text-center-sm {
    text-align: center !important;
  }
}
/* Tablets and phablets */
@media only screen and (min-width: 768px) {
  /* line 187, ../sass/partials/_base.scss */
  .visible_sm {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}
/* line 195, ../sass/partials/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* line 204, ../sass/partials/_base.scss */
h1 {
  font-size: 48px;
}

/* line 208, ../sass/partials/_base.scss */
h2 {
  font-size: 32px;
}

/* line 212, ../sass/partials/_base.scss */
h3 {
  font-size: 28px;
}

/* line 216, ../sass/partials/_base.scss */
h4 {
  font-size: 21px;
}

/* line 220, ../sass/partials/_base.scss */
h5 {
  font-size: 18px;
}

/* line 224, ../sass/partials/_base.scss */
h6 {
  font-size: 16px;
}

/* line 228, ../sass/partials/_base.scss */
p {
  margin: 0;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}
/* line 232, ../sass/partials/_base.scss */
p + p {
  padding-top: .5em;
}

/* line 237, ../sass/partials/_base.scss */
address, address span {
  display: block;
}

/* line 241, ../sass/partials/_base.scss */
.margin_top_sm {
  margin-top: 10px !important;
}

/* line 245, ../sass/partials/_base.scss */
.margin_top_md {
  margin-top: 20px !important;
}

/* line 249, ../sass/partials/_base.scss */
.margin_bottom_lg {
  margin-bottom: 30px !important;
}

/* line 253, ../sass/partials/_base.scss */
.margin_bottom_xl {
  margin-bottom: 50px !important;
}

/* line 257, ../sass/partials/_base.scss */
.margin_bottom_sm {
  margin-bottom: 10px !important;
}

/* line 261, ../sass/partials/_base.scss */
.margin_bottom_md {
  margin-bottom: 20px !important;
}

/* line 265, ../sass/partials/_base.scss */
.margin_top_lg {
  margin-top: 30px !important;
}

/* line 269, ../sass/partials/_base.scss */
.margin_top_xl {
  margin-top: 50px !important;
}

/* line 273, ../sass/partials/_base.scss */
.no_margin {
  margin: 0 !important;
}

/* line 277, ../sass/partials/_base.scss */
.padding-top-none {
  padding-top: 0 !important;
}

/* line 281, ../sass/partials/_base.scss */
.promptImageHolder {
  max-width: 126px;
  display: block;
  margin-bottom: 20px;
}
/* line 286, ../sass/partials/_base.scss */
.promptImageHolder > img {
  display: block;
  width: 100%;
}

/* line 1, ../sass/partials/_form.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #959595;
}

/* line 6, ../sass/partials/_form.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #959595;
}

/* line 11, ../sass/partials/_form.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  color: #959595;
}

/* line 16, ../sass/partials/_form.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #959595;
}

/* line 21, ../sass/partials/_form.scss */
.form_body {
  max-width: 600px;
}

/* line 25, ../sass/partials/_form.scss */
.input-group {
  z-index: 1;
}
/* line 28, ../sass/partials/_form.scss */
.input-group > .form-control {
  border-right: none;
}
/* line 32, ../sass/partials/_form.scss */
.input-group + .input-group {
  margin-top: 1em;
}

/* line 37, ../sass/partials/_form.scss */
.input-group-addon {
  background: #FEF0C8;
  color: #211F20;
  padding: 0 15px;
  align-self: center;
  height: 100%;
  line-height: 45px;
  border-left: none;
  border-radius: 0 5px 5px 0;
  width: auto;
}
/* line 48, ../sass/partials/_form.scss */
.labeledForm .input-group-addon {
  line-height: 65px;
}

/* line 53, ../sass/partials/_form.scss */
.form-group {
  position: relative;
  margin-bottom: 25px;
}

/* line 58, ../sass/partials/_form.scss */
.labeledForm {
  font-size: 16px;
}

/* line 63, ../sass/partials/_form.scss */
input:focus {
  outline: none;
}

/* line 68, ../sass/partials/_form.scss */
.help-text {
  font-size: 13px;
  color: #757575;
  font-style: italic;
  margin-top: 7.5px;
}

/* line 75, ../sass/partials/_form.scss */
.text-error {
  font-size: 12px;
  color: red !important;
}

/* line 80, ../sass/partials/_form.scss */
.form-control {
  padding: 8px 12px;
  font-size: 1em;
  line-height: normal;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  outline: 0;
  width: 100%;
  min-height: 45px;
  position: relative;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  overflow: hidden;
  color: #555555;
  text-indent: .01px;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-box-shadow: 0 0 0, transparent;
  -webkit-box-shadow: 0 0 0, transparent;
  box-shadow: 0 0 0, transparent;
  box-shadow: unset;
  vertical-align: middle;
}
/* line 102, ../sass/partials/_form.scss */
.form-control[readonly] {
  background-color: white;
}
/* line 106, ../sass/partials/_form.scss */
.walletAddressBar .form-control {
  border-bottom: none;
  border-radius: 5px 5px 0 0;
}
/* line 111, ../sass/partials/_form.scss */
.form-control.labeledFormInput {
  padding: 25px 12px 5px;
  min-height: 65px;
}
/* line 116, ../sass/partials/_form.scss */
.form-control:focus {
  outline: 0;
  border-color: #F79E25;
  box-shadow: none;
}

/* line 124, ../sass/partials/_form.scss */
.control-label {
  text-transform: none;
  font-size: 1em;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 7.5px;
  line-height: 1.4rem;
  color: #757575;
}
/* line 133, ../sass/partials/_form.scss */
[class*="checkbox"] .control-label, [class*="radio"] .control-label {
  color: inherit;
}
/* line 137, ../sass/partials/_form.scss */
.labeledForm .control-label {
  padding: 0 12px;
  font-size: .85em;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
  top: 10px;
  z-index: 5;
}

/* line 147, ../sass/partials/_form.scss */
select.form-control {
  background: white url(../img/icons/arrow-down.png) right center no-repeat;
  padding-right: 25px;
}
/* line 151, ../sass/partials/_form.scss */
select.form-control.labeledFormInput {
  padding-right: 25px;
  background-position-x: 97%;
}
/* line 156, ../sass/partials/_form.scss */
select.form-control:focus {
  outline: none;
  background: white url(../img/icons/arrow-down.png) right center no-repeat;
}

/* line 162, ../sass/partials/_form.scss */
.radio, .checkbox {
  line-height: 1;
}
/* line 165, ../sass/partials/_form.scss */
.radio + .radio, .radio + .checkbox, .checkbox + .radio, .checkbox + .checkbox {
  margin-top: 15px;
}

/* line 170, ../sass/partials/_form.scss */
input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: relative;
  margin-top: 3px;
  margin-right: 7.5px;
  vertical-align: top;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* line 183, ../sass/partials/_form.scss */
.controlSummary input[type="radio"], .controlSummary
.radio input[type="radio"], .controlSummary
.radio-inline input[type="radio"] {
  margin-top: 6px;
}
/* line 187, ../sass/partials/_form.scss */
input[type="radio"]:focus,
.radio input[type="radio"]:focus,
.radio-inline input[type="radio"]:focus {
  outline: none;
}
/* line 190, ../sass/partials/_form.scss */
input[type="radio"]:before, input[type="radio"]:after,
.radio input[type="radio"]:before,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:before,
.radio-inline input[type="radio"]:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -moz-transition: 240ms;
  -o-transition: 240ms;
  -webkit-transition: 240ms;
  transition: 240ms;
}
/* line 199, ../sass/partials/_form.scss */
input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before {
  position: absolute;
  left: 0;
  top: -3px;
  background-color: #F79E25;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* line 206, ../sass/partials/_form.scss */
input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
  position: relative;
  top: -3px;
  border: 2px solid #959595;
}
/* line 211, ../sass/partials/_form.scss */
input[type="radio"]:checked:before,
.radio input[type="radio"]:checked:before,
.radio-inline input[type="radio"]:checked:before {
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
/* line 214, ../sass/partials/_form.scss */
input[type="radio"]:disabled:checked:before,
.radio input[type="radio"]:disabled:checked:before,
.radio-inline input[type="radio"]:disabled:checked:before {
  background-color: #959595;
}
/* line 217, ../sass/partials/_form.scss */
input[type="radio"]:checked:after,
.radio input[type="radio"]:checked:after,
.radio-inline input[type="radio"]:checked:after {
  border-color: #F79E25;
}
/* line 220, ../sass/partials/_form.scss */
input[type="radio"]:disabled:after, input[type="radio"]:disabled:checked:after,
.radio input[type="radio"]:disabled:after,
.radio input[type="radio"]:disabled:checked:after,
.radio-inline input[type="radio"]:disabled:after,
.radio-inline input[type="radio"]:disabled:checked:after {
  border-color: #959595;
}

/* line 226, ../sass/partials/_form.scss */
input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  border: none;
  margin-bottom: -6px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
/* line 235, ../sass/partials/_form.scss */
input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
  outline: none;
}
/* line 238, ../sass/partials/_form.scss */
input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  margin-top: -2px;
  margin-right: 7.5px;
  border: 2px solid #959595;
  border-radius: 3px;
  -moz-transition: 240ms;
  -o-transition: 240ms;
  -webkit-transition: 240ms;
  transition: 240ms;
}
/* line 249, ../sass/partials/_form.scss */
input[type="checkbox"]:checked:before,
.checkbox input[type="checkbox"]:checked:before,
.checkbox-inline input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 0;
  left: 7px;
  display: table;
  width: 6px;
  height: 14px;
  border: 2px solid #f5f5f5;
  border-top-width: 0;
  border-left-width: 0;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 262, ../sass/partials/_form.scss */
input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #FA4238;
  border-color: #FA4238;
}
/* line 266, ../sass/partials/_form.scss */
input[type="checkbox"]:disabled:after,
.checkbox input[type="checkbox"]:disabled:after,
.checkbox-inline input[type="checkbox"]:disabled:after {
  border-color: #959595;
}
/* line 269, ../sass/partials/_form.scss */
input[type="checkbox"]:disabled:checked:after,
.checkbox input[type="checkbox"]:disabled:checked:after,
.checkbox-inline input[type="checkbox"]:disabled:checked:after {
  background-color: #E5E5E5;
  border-color: transparent;
}
/* line 274, ../sass/partials/_form.scss */
input[type="checkbox"]:disabled:checked:before,
.checkbox input[type="checkbox"]:disabled:checked:before,
.checkbox-inline input[type="checkbox"]:disabled:checked:before {
  border-color: #959595;
}

/* line 279, ../sass/partials/_form.scss */
.required::after {
  content: "*";
  font-size: 1.025em;
  padding-left: 3px;
  color: #F79E25;
}

/* line 286, ../sass/partials/_form.scss */
input[disabled] {
  background-color: #c5c5c5;
}

/* line 290, ../sass/partials/_form.scss */
.radio-inline,
.checkbox-inline {
  padding: 10px 0 5px;
  display: inline-flex;
  align-items: center;
}
/* line 296, ../sass/partials/_form.scss */
.radio-inline + .radio-inline,
.radio-inline + .checkbox-inline,
.checkbox-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 30px;
}

/* line 302, ../sass/partials/_form.scss */
label {
  font-weight: normal;
}
/* line 305, ../sass/partials/_form.scss */
label.radio-inline + label {
  margin-left: 30px;
}
/* line 309, ../sass/partials/_form.scss */
label.checkbox-inline {
  margin: 5px 0;
  margin-bottom: 0 !important;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}

/* SVG Icon systems */
/* line 2, ../sass/partials/_custom_icons.scss */
.cust_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  vertical-align: middle;
  fill: inherit;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 14, ../sass/partials/_custom_icons.scss */
svg {
  display: inline-block;
  width: 100%;
}

/* line 19, ../sass/partials/_custom_icons.scss */
.icon_xs {
  width: 16px;
  height: 16px;
}

/* line 24, ../sass/partials/_custom_icons.scss */
.icon_sm {
  width: 32px;
  height: 32px;
}

/* line 29, ../sass/partials/_custom_icons.scss */
.icon_md {
  width: 24px;
  height: 24px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 29, ../sass/partials/_custom_icons.scss */
  .icon_md {
    width: 48px;
    height: 48px;
  }
}

/* line 39, ../sass/partials/_custom_icons.scss */
.icon_lg {
  width: 64px;
  height: 64px;
}

/* line 44, ../sass/partials/_custom_icons.scss */
.icon_xl {
  width: 64px;
  height: 64px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 44, ../sass/partials/_custom_icons.scss */
  .icon_xl {
    width: 128px;
    height: 128px;
  }
}

/* line 1, ../sass/partials/_navigation.scss */
a {
  text-decoration: none;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  color: inherit;
}
/* line 6, ../sass/partials/_navigation.scss */
a:hover, a:focus {
  color: #F79E25;
  text-decoration: none;
}
/* line 12, ../sass/partials/_navigation.scss */
a:focus {
  outline: thin dotted #F79E25;
}
/* line 14, ../sass/partials/_navigation.scss */
.no-touch a:focus {
  outline: none;
}

/* line 20, ../sass/partials/_navigation.scss */
a:link,
button {
  -webkit-tap-highlight-color: rgba(247, 158, 37, 0.35);
  -moz-tap-highlight-color: rgba(247, 158, 37, 0.35);
}

/* line 26, ../sass/partials/_navigation.scss */
button {
  outline: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  width: auto;
  height: auto;
  color: inherit;
  background: 0 0;
  cursor: pointer;
  text-align: center;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/* line 39, ../sass/partials/_navigation.scss */
button:focus, button:visited {
  outline: none;
}

/* line 44, ../sass/partials/_navigation.scss */
.btn {
  border-radius: 15px;
  padding: 1em 2em;
  font-size: 12px;
  font-weight: 600;
  background-color: transparent;
  color: #f5f5f5;
  fill: #f5f5f5;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  box-shadow: 0px 0px 0px transparent;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  text-decoration: none !important;
  will-change: background-color, color;
  /* Tablets and phablets */
  /* Mobile devices */
}
/* line 65, ../sass/partials/_navigation.scss */
.btn + [class*="btn"], .btn + [class*="Btn"] {
  margin-left: 1.5em;
}
/* line 69, ../sass/partials/_navigation.scss */
.btn > * + * {
  margin-left: 10px;
}
@media only screen and (min-width: 768px) {
  /* line 44, ../sass/partials/_navigation.scss */
  .btn {
    min-width: 100px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 575px) {
  /* line 79, ../sass/partials/_navigation.scss */
  .heroTextWrapper .btn:not(.siblingsBtn) {
    display: block;
    width: 100%;
    clear: both;
    font-size: 1em;
    margin: 20px auto 0;
  }
}
/* line 88, ../sass/partials/_navigation.scss */
.btn:hover, .btn:focus {
  text-decoration: none !important;
  box-shadow: 2px 5px 10px 0 rgba(33, 31, 32, 0.4);
}
/* line 92, ../sass/partials/_navigation.scss */
.no-touch .btn:hover, .no-touch .btn:focus {
  outline: none;
}
/* line 97, ../sass/partials/_navigation.scss */
.btn[disabled], .btn.disabled {
  pointer-events: none;
  color: #f5f5f5;
  background-color: #959595;
}

/* line 104, ../sass/partials/_navigation.scss */
.btn-primary {
  background-color: #FA4238;
  background: linear-gradient(90deg, #fa4238 0%, #f79e25 100%);
  color: #FAF9F1;
  fill: #FAF9F1;
}
/* line 110, ../sass/partials/_navigation.scss */
.btn-primary:hover, .btn-primary:focus {
  background: linear-gradient(90deg, rgba(250, 66, 56, 0.85) 0%, rgba(247, 158, 37, 0.85) 100%);
  color: #FAF9F1;
}

/* line 117, ../sass/partials/_navigation.scss */
.btn-default {
  background-color: white;
  color: #959595;
  fill: #959595;
}
/* line 122, ../sass/partials/_navigation.scss */
.btn-default:hover, .btn-default:focus {
  background-color: #FEF0C8;
  color: #F79E25;
  fill: #F79E25;
}

/* line 130, ../sass/partials/_navigation.scss */
.btn-sm.btn,
.btn-group-sm > .btn {
  font-size: 12px;
}

/* line 135, ../sass/partials/_navigation.scss */
.btn-lg.btn,
.btn-group-lg > .btn {
  font-size: 18px;
}

/* line 140, ../sass/partials/_navigation.scss */
.btn-link {
  cursor: pointer;
  font-size: 1em;
  display: inline-block;
  text-decoration: underline;
  color: #FA4238;
}
/* line 147, ../sass/partials/_navigation.scss */
.btn-link:hover, .btn-link:focus {
  color: inherit;
  text-decoration: none;
}
/* line 153, ../sass/partials/_navigation.scss */
.btn-link:active, .btn-link[disabled] {
  color: #757575;
  outline: none;
}

/* line 159, ../sass/partials/_navigation.scss */
.dialogDismiss {
  position: absolute;
  right: 15px;
  top: 10px;
  display: flex;
  z-index: 1000;
}

/* line 167, ../sass/partials/_navigation.scss */
.close_dialog {
  z-index: 5;
  width: 30px;
  height: 30px;
  font-size: 10px;
  text-align: center;
  border-radius: 50%;
  position: relative;
}
/* line 176, ../sass/partials/_navigation.scss */
.close_dialog::before, .close_dialog::after {
  position: absolute;
  content: "";
  width: 2px;
  background: #959595;
  height: 14px;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -1px;
}
/* line 187, ../sass/partials/_navigation.scss */
.close_dialog::before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 190, ../sass/partials/_navigation.scss */
.close_dialog::after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 193, ../sass/partials/_navigation.scss */
.close_dialog:hover, .close_dialog:focus {
  background-color: #FEF0C8;
}
/* line 196, ../sass/partials/_navigation.scss */
.close_dialog:hover::before, .close_dialog:hover::after, .close_dialog:focus::before, .close_dialog:focus::after {
  background-color: #F79E25;
}

/* line 1, ../sass/partials/_header_nav.scss */
.brand_img {
  display: block;
}
/* line 4, ../sass/partials/_header_nav.scss */
header[role="banner"] .brand_img {
  height: 60px;
}

/* line 9, ../sass/partials/_header_nav.scss */
.logo_link {
  padding: 0;
  display: inline-block;
  line-height: 60px;
  width: 170px;
  position: relative;
  height: 100%;
}
/* line 17, ../sass/partials/_header_nav.scss */
.logo_link > img {
  vertical-align: middle;
  display: inline-block;
}

/* line 1, ../sass/partials/_heroes.scss */
.hero_area, .mainLandingPageBg {
  background-size: cover;
  width: 100%;
  position: relative;
  background-position: top right;
  background-repeat: no-repeat;
  z-index: 1;
  overflow: hidden;
  min-height: 380px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 1, ../sass/partials/_heroes.scss */
  .hero_area, .mainLandingPageBg {
    min-height: 100%;
  }
}

/* line 16, ../sass/partials/_heroes.scss */
.hero_area {
  background-color: transparent;
}
/* line 20, ../sass/partials/_heroes.scss */
.hero_area .container {
  z-index: 10;
}

/* line 25, ../sass/partials/_heroes.scss */
.home_hero {
  background-color: #FEF0C8;
  background-image: url(../img/banners/hero_bg.jpg);
}

/* line 30, ../sass/partials/_heroes.scss */
.heroContentWrapper {
  min-height: 65vh;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 30, ../sass/partials/_heroes.scss */
  .heroContentWrapper {
    padding-bottom: 50px;
  }
}

/* line 41, ../sass/partials/_heroes.scss */
.hero_title {
  font-size: 32px;
  margin-bottom: 15px;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 41, ../sass/partials/_heroes.scss */
  .hero_title {
    font-size: 41px;
  }
}

/* line 51, ../sass/partials/_heroes.scss */
.hero_blub {
  font-weight: 400;
  font-size: 16px;
  color: inherit;
}

/* line 57, ../sass/partials/_heroes.scss */
.imageItemHolder {
  padding-bottom: 20px;
  /* Tablets and phablets */
}
/* line 60, ../sass/partials/_heroes.scss */
.imageItemHolder img {
  display: inline-block;
  max-width: 520px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  /* line 57, ../sass/partials/_heroes.scss */
  .imageItemHolder {
    padding: 0 30px;
  }
}

/* line 71, ../sass/partials/_heroes.scss */
.fncyDemacator {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 16px;
  color: #211F20;
  align-items: center;
  padding-bottom: 10px;
}

/* line 79, ../sass/partials/_heroes.scss */
.demLine {
  width: 40px;
  height: 2px;
  background-color: #FA4238;
  display: inline-flex;
  margin-right: 15px;
}

/* line 1, ../sass/partials/_sections.scss */
.mainContentArea {
  position: relative;
  width: 100%;
  padding-top: 60px;
  background-color: white;
  height: 100%;
  /* Tablets and phablets */
  /* Landscape tablets and desktop or laptops */
}
/* line 8, ../sass/partials/_sections.scss */
.mainContentArea.is_active {
  overflow: hidden;
}
/* line 12, ../sass/partials/_sections.scss */
.mainContentArea::before {
  /* never visible - used to check MQ in jQuery */
  display: none;
  content: 'mobile';
}
@media only screen and (min-width: 768px) {
  /* line 1, ../sass/partials/_sections.scss */
  .mainContentArea {
    padding-top: 100px;
  }
  /* line 19, ../sass/partials/_sections.scss */
  .mainContentArea::before {
    /* never visible - used to check MQ in jQuery */
    content: 'tablet';
  }
}
@media only screen and (min-width: 992px) {
  /* line 1, ../sass/partials/_sections.scss */
  .mainContentArea {
    margin-top: 0;
  }
  /* line 26, ../sass/partials/_sections.scss */
  .mainContentArea::before {
    /* never visible - used to check MQ in jQuery */
    content: 'desktop';
  }
}

/* line 33, ../sass/partials/_sections.scss */
.section_block {
  padding: 70px 0;
  display: block;
  width: 100%;
  position: relative;
}
/* line 39, ../sass/partials/_sections.scss */
.section_block .container {
  z-index: 5;
}

/* line 44, ../sass/partials/_sections.scss */
.fillerImage {
  width: 100%;
  max-width: 512px;
  display: block;
  margin: auto;
}

/* line 51, ../sass/partials/_sections.scss */
.section_cto {
  margin-top: 40px;
  clear: both;
}

/* line 56, ../sass/partials/_sections.scss */
.section_header {
  position: relative;
  margin-bottom: 40px;
}

/* line 61, ../sass/partials/_sections.scss */
.title {
  line-height: 1.45;
  font-size: 14px;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 61, ../sass/partials/_sections.scss */
  .title {
    font-size: 18px;
  }
}

/* line 71, ../sass/partials/_sections.scss */
.title_sm {
  font-size: 18px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 71, ../sass/partials/_sections.scss */
  .title_sm {
    font-size: 24px;
  }
}

/* line 79, ../sass/partials/_sections.scss */
.title_md {
  font-size: 21px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 79, ../sass/partials/_sections.scss */
  .title_md {
    font-size: 32px;
  }
}

/* line 87, ../sass/partials/_sections.scss */
.title_lg {
  font-size: 32px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 87, ../sass/partials/_sections.scss */
  .title_lg {
    font-size: 42px;
  }
}

/* line 95, ../sass/partials/_sections.scss */
footer[role="contentinfo"] {
  width: 100%;
  clear: both;
}

/* line 1, ../sass/partials/_dialogs.scss */
.dropdown-menu {
  font-size: 1em;
  box-sizing: border-box;
  visibility: hidden;
  z-index: 1000;
  max-width: 460px;
  padding: 10px 0;
  margin: 0;
  border-radius: 5px;
  color: #757575;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-animation: panel-slide-down .6s ease-in-out forwards;
  animation: panel-slide-down .6s ease-in-out forwards;
  overflow: hidden;
  border: none;
}
/* line 19, ../sass/partials/_dialogs.scss */
.dropdown-menu.show {
  visibility: visible;
}
/* line 23, ../sass/partials/_dialogs.scss */
.dropdown-menu li {
  display: block;
  padding: 0;
  margin: 0;
}
/* line 28, ../sass/partials/_dialogs.scss */
.dropdown-menu li > *, .dropdown-menu li > a {
  padding: 10px 15px;
  display: flex;
  width: 100%;
  font-size: 14px;
  color: #555555;
  text-transform: capitalize;
  line-height: normal;
  align-items: center;
  white-space: nowrap;
}
/* line 39, ../sass/partials/_dialogs.scss */
.dropdown-menu li > *:hover, .dropdown-menu li > a:hover {
  background: #FEF0C8;
  color: #211F20;
}
/* line 45, ../sass/partials/_dialogs.scss */
.dropdown-menu li .cust_icon {
  width: 24px;
  height: 24px;
}

@keyframes panel-slide-down {
  0%,30% {
    margin-top: -15px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
/* line 63, ../sass/partials/_dialogs.scss */
.dropdown-toggle::after {
  display: none;
}

/* line 67, ../sass/partials/_dialogs.scss */
.tooltip .arrow::before {
  border-top-color: #211F20 !important;
}

/* line 71, ../sass/partials/_dialogs.scss */
.tooltip-inner {
  font-size: 12px;
  background-color: #211F20;
  border-radius: 5px;
  padding: 6px 12px;
}

/* line 78, ../sass/partials/_dialogs.scss */
.modal-backdrop {
  background-color: black;
  display: none;
}

/* line 83, ../sass/partials/_dialogs.scss */
.modal-content {
  border-radius: 15px;
}

/* line 87, ../sass/partials/_dialogs.scss */
.modal-dialog {
  z-index: 2000;
  max-width: 520px;
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 87, ../sass/partials/_dialogs.scss */
  .modal-dialog {
    margin-right: 15px;
    margin-left: 15px;
  }
}

/* line 97, ../sass/partials/_dialogs.scss */
.modal {
  z-index: 3000;
}
/* line 100, ../sass/partials/_dialogs.scss */
.modal-open .modal {
  background-color: rgba(0, 0, 0, 0.95);
  padding: none !important;
}
/* line 105, ../sass/partials/_dialogs.scss */
.modal .modal-header {
  border-bottom: none;
  padding: 20px 15px 0;
  justify-content: flex-start;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 105, ../sass/partials/_dialogs.scss */
  .modal .modal-header {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* line 116, ../sass/partials/_dialogs.scss */
.modal .modal-body {
  position: relative;
  padding: 30px 15px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 116, ../sass/partials/_dialogs.scss */
  .modal .modal-body {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* line 126, ../sass/partials/_dialogs.scss */
.modal .subtitle {
  margin-bottom: 20px;
  display: block;
}
/* line 131, ../sass/partials/_dialogs.scss */
.modal .content-panel {
  min-height: 250px;
}
/* line 135, ../sass/partials/_dialogs.scss */
.modal .modal-footer {
  border-top: none;
  padding: 0 15px 10px;
}

/* line 141, ../sass/partials/_dialogs.scss */
.modal-title {
  font-size: 16px;
  font-weight: 700;
  font-family: "Work Sans", Open Sans, Segoe UI, sans-serif;
  text-transform: uppercase;
}

/* line 1, ../sass/partials/_authentication.scss */
.mainLandingPageBg {
  width: 100%;
  /* Tablets and phablets */
}
/* line 5, ../sass/partials/_authentication.scss */
.mainLandingPageBg > * {
  z-index: 5;
}
@media only screen and (min-width: 768px) {
  /* line 1, ../sass/partials/_authentication.scss */
  .mainLandingPageBg {
    min-height: 700px;
  }
}

/* line 14, ../sass/partials/_authentication.scss */
.authFooter {
  display: block;
  padding: 30px 0;
  color: #757575;
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 14, ../sass/partials/_authentication.scss */
  .authFooter {
    text-align: center;
    font-size: 14px;
    line-height: 2;
  }
}

/* line 26, ../sass/partials/_authentication.scss */
.authFtNav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 26, ../sass/partials/_authentication.scss */
  .authFtNav {
    justify-content: space-between;
  }
}

/* line 38, ../sass/partials/_authentication.scss */
.footer_links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 44, ../sass/partials/_authentication.scss */
.footerLinkWrapper + .footerLinkWrapper {
  margin-left: 15px;
}

/* line 48, ../sass/partials/_authentication.scss */
.footerLinkItem {
  display: block;
  color: inherit;
  text-decoration: underline;
}
/* line 53, ../sass/partials/_authentication.scss */
.footerLinkItem:hover, .footerLinkItem:focus {
  color: #F79E25;
}

/* line 58, ../sass/partials/_authentication.scss */
.authFtSub {
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 58, ../sass/partials/_authentication.scss */
  .authFtSub {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}
